<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
    	<ul class="navbar-nav nav mr-auto">
    		<li class="nav-item active">
    			<a class="nav-link" [routerLink]="['/ide']">OnlineIDE</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link">Programming</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link">Database</a>
    		</li>
    	</ul>

    </div>
</nav>
