.topbar {
  /* min-height: 80px; */
	background-color: #004099; /*#2b303e;*/
	top: 0;
	z-index: 10000;
	/* overflow: hidden; */
	width: 100%;
	margin: 0 auto 0 auto;
	position: fixed;
	top: 0;
}

#home {
	display: inline-block;
	position: relative;
	width: 12%;
	padding-right: 0%;
	padding-left: 4%;
}

#home > img {
	vertical-align: middle;
	height: auto;
	width: 100%;
}

.spacer {
	flex: auto;
}

.pre-spacer {
	width: 4%;
}

.linkspan {
	width: 12%;
}

.linkspan > a {
	font-size: 16px;
}

a {
	text-align: center;
	color: white;
	text-decoration: none;
}

body {
	position: relative;
}

.overlay,.sideMenu {
	position: fixed;
	bottom: 0;
}

.overlay {
	top: 0;
	left: -100%;
	right: 100%;
	margin: auto;
	z-index: 998;
	transition: all ease 0.2s;
}

.overlay.open {
	left: 0;
	right: 0;
}

.sidebarNavigation {
	margin-bottom: 0;
	z-index: 999;
	justify-content: flex-start;
}

.sidebarNavigation .leftNavbarToggler {
	margin-right: 10px;
	order: -1;
}

.sideMenu {
	left: -100%;
	top: 52px;
	transition: all ease 0.5s;
	overflow: hidden;
	width: 100%;
	z-index: 999;
	max-width: 38%;
	margin-bottom: 0;
	padding: 1rem;
	height: 489px;
}

.sideMenu.open {
	left: 0;
	display: block;
	overflow-y: auto;
	margin-top: 0;
}

.sideMenu ul {
	margin: 0;
	padding: 0 15px;
}

.color-white {
	color: #fff;
}

.margin-top {
	margin-top: 50px;
}

.custom-close {
	float: right;
	cursor: pointer;
	color: #fff;
}

@media (max-width: 767px) {
	.margin-botom {
		margin-bottom: 10px;
	}
}

.bg-primary {
	background-color: #004099 !important;
}

.logout {
	cursor: pointer;
	color: #fff
}

.custom-style {
	color: #fff;
}

#nav-dropdown .dropdown-menu {
	background: #004099;
	border: none;
	padding: 0;
	top: 34px;
}

.dropdown :hover{
	color: #007bff;
}

.dropup,.dropright,.dropdown,.dropleft {
	position: relative;
	transition: 0.4s;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.sideMenu ul > li > a {
	text-align: left;
}

.dropdown div {
	text-align: left;
}

.dropdown-item:hover,.dropdown-item:focus {
	color: #fff;
	text-decoration: none;
	background-color: #004099;
}

.navbar {
	height: 60px;
}

.nav li{
    padding: 0px 1px;
}

.selected {
	background: #2196f3;
	color: #fff;
}

.dropdown-menu > a:hover {
	color: #007bff;
}

.nav-link > div {
	padding: 0px 10px;
}

.nav-link > div:hover {
	color: #007bff;
}

@media screen and (max-width: 1200px){
    .nav-link > div {
		padding: 0px 0px;
	}
}

@media screen and (max-width:991px) {
	.nav-link > div {
		padding: 0px 0px;
	}
	.nav li {
		padding: 0px 2px;
	}
}

.userPorfile {
	width: 32px;
	height: 32px;
	border: none;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.user-info {
	top: 44px;
	right: 83px;
	background-color: rgb(161, 133, 228);
}

#userInfoModal .form-label {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    width: 23%;
    text-align: left;
    padding-top: 3px;
    padding-right: 10px;
    margin-left: 3%;
}

#userInfoModal .form-field {
    position: relative;
    width: 71%;
}
